
@page
@{
    ViewData["Title"] = "Главная";
}
@model RegisterViewModel

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>


    <div class="main">
        блок регистрации <partial name="Register" />
    </div>



</div>